.image {
    position: relative;
    height: 100vh;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav1{
      margin-bottom: 100px;
      background-color: #ffe4b5;
      margin-top: 10px;
      width: 550px;
      border-radius: 35px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-right: 190px;
      
  }
  .nav2{
    margin-bottom: 100px;
    background-color: #ffe4b5;
    margin-top: 10px;
    width: 150px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 155px;
    
}
  .obj{
      width: 400px;
      height: auto;
  }
  .links{
    text-decoration: none;
    color: #502201;
    font-size: 20px;
    font-weight: 600;
  }
 
  .center {
    /* display: grid;
    align-content: center; /* aligns vertically 
    justify-content: center; */
    color: #502201;
    margin-right: 200px;
    font-weight: 15px;
    margin-bottom: 150px;
  }
  .center2{
    align-content: center; /* aligns vertically */
    justify-content: center;
    color: #502201;
  }
  .textbox {
    background-color: #ffe4b5;
    align-items: center;
    border-radius: 35px;
    width: 100%;
    margin-bottom: 300px;
    margin-top: 150px;
  }
  .textbox1{
    background-color: #ffe4b5;
    height: 75px;
  }
  .circle{
    width: 400px;
    height: auto;
    border-radius: 50%;
    background-color: #ffe4b5;
    margin-bottom: 35px;
    align-items: center;
    box-shadow: 0 0 50px #502201;
    }
  .circle2{
    width: 200px;
  
    border-radius: 50%;
    background-color: #502201;
    align-items: center;
    box-shadow: 0 0 50px #502201;
    margin: auto;
    }

/* CSS */
.button-24 {
  background: #ffe4b5;
  border: 1px solid #ffe4b5;
  border-radius: 6px;
  box-shadow: rgba(75, 36, 0, 0.959) 1px 2px 4px;
  box-sizing: border-box;
  color: #502201;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: #502201;
  background-position: 0 0;
  color: #ffe4b5;
}

.button-24:active {
  opacity: .5;
}
.section2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-right: 250px;
}
.sectioncard{
  background-color: #ffe4b5;
  border-radius: 35px;
  width: 400px;
  
}
.imagecard{
  width: 300px;
  height: 300px;
  object-fit: cover;
border-radius: 50%;
box-shadow: 0 0 50px #502201;
}
.containercard{
  margin-bottom:90px;
  margin-top: 35px;
  display: grid;
  justify-content: center;
}
.ca{
  position: relative;
}

.ca div{
  position:absolute;
  display: flex;
  justify-content:center ;
  align-items: center;
  width:300px ;
  height:300px ;
  border-radius:50% ;
  backface-visibility: hidden;
  transition: 1s;
}
.ca .front{
  transform: perspective(500px) rotateY(0deg);
}
.ca .back{
  background-color: #ffe4b5;
  transform: perspective(500px) rotateY(180deg);
  display: grid;
  justify-content: center;
  align-items: center;
}
.ca:hover .front{
  transform: perspective(500px) rotateY(180deg);
}

.ca:hover .back{
  transform: perspective(500px) rotateY(360deg);
}
.contanav{
  display: flex;
  justify-content: space-evenly;
  
}
.letter{
  color: #502201;
}